{% extends 'base.html' %}
{% block content %}

    <section class="vh-100 bg-light">
        <div class="container py-5 h-100">
            <div class="row d-flex align-items-center justify-content-center h-100">
                <div class="col-md-8 col-lg-7 col-xl-6">
                    <img
                            src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                            class="img-fluid"
                            alt="Phone image"
                    />
                </div>
                <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                    <form method="post">
                        {% csrf_token %}
                        <div data-mdb-input-init class="form-outline mb-4">
                            <input
                                    type="email"
                                    id="email"
                                    name="username"
                                    class="text-info form-control form-control-lg"
                                    required
                            />
                            <label class="text-info form-label" for="email">Email address</label>
                        </div>

                        <div data-mdb-input-init class="form-outline mb-4">
                            <input
                                    type="password"
                                    id="password"
                                    name="password"
                                    class="text-info form-control form-control-lg"
                                    required
                            />
                            <label class="text-info form-label" for="password">Password</label>
                        </div>

                        <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
                        <p class="text-info text-center fw-bold mx-3 mb-0">OR</p>

                        <!-- Google login button -->
                        <a
                                data-mdb-ripple-init
                                class="btn btn-primary btn-lg btn-block"
                                style="background-color: #4285F4"
                                href="{% url 'social:begin' 'google-oauth2' %}"
                                role="button"
                        >
                            <i class="fab fa-google me-2"></i>Continue with Google
                        </a>
                    </form>

                    {% if error_message %}
                        <p class="text-danger">{{ error_message }}</p>
                    {% endif %}
                    <div class="d-flex justify-content-around align-items-center mb-4">
                        <a href="{% url 'password_reset' %}">Forgot password?</a>
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <p class="m-0 text-info">
                            Don't have an account ?
                            <a href="{% url 'register' %}">Sign up</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}